# Docker volumes
n8n/*
grafana/*
influxdb/*
vaultwarden/*
!n8n/*.json
!grafana/*.json
!influxdb/*.json
!vaultwarden/.gitkeep
!n8n/.gitkeep
!grafana/.gitkeep
!influxdb/.gitkeep

# Logs
*.log

# Local environment files
.env
